<nav class="root">
  <div class="max-w-6xl px-6 mx-auto">
    <div
      class="relative flex flex-row justify-between py-4 align-center md:py-6"
    >
      <div class="flex items-center flex-1">
        <a
          href="/"
          class="cursor-pointer transform duration-100 ease-in-out"
          aria-label="Logo"
        >
          <img class="h-10" src="../../../favicon.ico" />
        </a>
        <nav class="hidden ml-6 space-x-2 lg:block">
          <a href="https://github.com/mgeovany" target="_blank" class="link">
            &#64;mgeovany
          </a>

          @if(true){
          <a href="/account" class="link"> Account </a>
          }
        </nav>
      </div>
      <div class="flex justify-end flex-1 space-x-8">
        @if(!true){
        <button class="link" onClick="{handleSignOut}">Sign out</button>
        } @else{
        <a href="/signin" class="link"> Sign in </a>
        }
      </div>
    </div>
  </div>
</nav>
